.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  padding: 1rem 0;
  backdrop-filter: blur(6px);
  background: rgba(15, 23, 42, 0.3); /* azul oscuro transparente */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.2s;
}

.menu a:hover {
  color: #60a5fa; /* azul claro */
}